h1 { text-align: center; }

.container {
    position: relative;
    width: 600px;
    height: 800px;
    border: 5px dashed orange;
    margin: auto;
}

.container div {
    margin:  auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
    line-height: 200px;
    border-radius: 10%;
}

/* position : relative; */
.container .relative {
    position: relative;
    border: 3px solid black;
}

.container base {
    position: absolute;
    border: 1px dashed #ddd;
    color: #ddd;
    z-index: -1;
}

/* relative */
.relative.first { left: 100px; }
.relative.second { right: 100px; }
.relative.third { top: 100px; left: 200px; }
.relative.fourth { bottom: 100px; right: 200px; }

/* base */
.base.first { top: 0; left: 200px; }
.base.second { top: 200px; left: 200px; }
.base.third { top: 400px; left: 200px; }
.base.fourth { top: 600px; left: 200px; }