
* {margin: 0; padding: 0; box-sizing: border-box;}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

.content {
    margin-top: 60px; /* 헤더 높이만큼 여백 추가 */
    padding: 20px;
    border: 2px solid black;
}