
* { margin: 0; padding: 0; box-sizing: border-box; }
.banner {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #444;
    color: white;
    height : 60px;
    line-height: 60px;
    text-align: center;
    z-index: 1000;
}

.content {
    height: 2000px;
    padding: 20px;
}