* { box-sizing: border-box; }

.container {
    width: 700px;
    max-width: 100%;
    border: 1px dashed coral;
}

.btn {
    display: inline-block;
    font-size: 14px;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    color: white;
    background-color: none;
    transition: all 0.4s;
    text-decoration: none;
}

.btn.lg {
    display: block;
    width: 100px;
    margin: 10px 0;
    font-size: 18px;
}

.btn:hover { box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); }
.btn:active { box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }

.primary { background-color: #e7e7e7; color:black; }
.success { background-color: #04aa6d }
.warning { background-color: #ff9800; }
.danger { background-color: #f44366; }
.info { background-color: #2196f3; }

/* 테두리 버튼 */
.btn.outline { background-color: transparent; }

.btn.outline.primary { border: 2px solid gray; color: gray; }
.btn.outline.primary:hover {background: #e7e7e7; color: white;}

.btn.outline.success { border: 2px solid #04aa6d; color: #04aa6d; }
.btn.outline.success:hover {background: #e7e7e7; color: white;}

.btn.outline.warning { border: 2px solid #ff9800; color: #ff9800; }
.btn.outline.warning:hover {background: #e7e7e7; color: white;}

.btn.outline.danger { border: 2px solid #f44366; color: #f44366; }
.btn.outline.danger:hover {background: #e7e7e7; color: white;}

.btn.outline.info { border: 2px solid #2196f3; color: #2196f3; }
.btn.outline.info:hover {background: #e7e7e7; color: white;}