
.container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner {
    text-align: center;
}

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}

.item {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    box-sizing: border-box;
    transition: all 1s;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 75px;
    background-color: white;
    border: 2px dashed gray;
    z-index: -1;
}

/* 
    scale (배율)
    0.0~1.0    : 배율 크기만큼 축소
    1.0~X.0    : 배율 크기만큼 확대
*/

.scale1:hover {transform: scale(2);}
.scale2:hover {transform: scale(2);}
.scale3:hover {transform: scale(2);}

/* 이미지 확대 축소 변경하기 */
.img-box {
    width: 100%;
    height: 140px;
    transition: all 0.2s;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    transition: all 0.2s;
}

.img-box img:hover {
    transform:scale(1.5);
    cursor: pointer;
}