
.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 400px;
    height: 150px;
    border: 4px dashed black;
    margin-bottom: 300px;
}

.box1 { overflow: visible; }    /* 넘쳐도 보임 */
.box2 { overflow: hidden; }     /* 숨김 */
.box3 { overflow: scroll; }     /* 항상 스크롤바 */
.box4 { overflow: scroll; }     /* 항상 스크롤바 */
.box5 { overflow: auto; }       /* 넘칠 때 스크롤바 */
.box6 { overflow: auto; }       /* 넘칠 때 스크롤바 */

/* 
    overflow-x  : x축 기준으로만 처리유형 지정
    overflow-y  : y축 기준으로만 처리유형 지정
*/
html {
    /* ⭐ 가로 스크롤 생기지 않게 방지 */
    overflow-x: hidden;     
    /* overflow-y: hidden; */
}