
.container {
    position: absolute;
    width: 800px;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
    border: 10px solid black;
    /* overflow: hidden; */
}

img { width: 100%; }

.slide {
    /* position: absolute; */
    width: 800px;
    /* animation: slide; */
    /* animation-duration: 16s; */
    /* animation-iteration-count: infinite; */
}

.slide .item {
    /* 부모 기준으로 위치 설정 */
    position: absolute;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}


.slide img {
    width: 800px;
    height: 400px;
    /* float: left; */
}

/* 첫 번째 슬라이드만 제외하고 나머지는 투명 */
.slide .item:nth-of-type(1) {
    animation-name: slide1;
}

.slide .item:nth-of-type(2) {
    animation-name: slide2;
}

.slide .item:nth-of-type(3) {
    animation-name: slide3;
}

@keyframes slide1 {
    0% {opacity: 1;}
    33% {opacity: 1;}
    36% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide2 {
    0%, 30% {opacity: 0;}
    33% {opacity: 1;}
    63% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slide3 {
    0%, 63% {opacity: 0;}
    66% {opacity: 1;}
    97% {opacity: 1;}
    100% {opacity: 0;}
}

/* 완벽하게 자연스러운 화면 전환은 CSS에서는 불가능한듯;; */
/* ㅋㅋ 성공 */